{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    <div class="container">
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.street, {
                label: 'adresss'
            }) }}
            {{ form_row(registrationForm.firstName, {
                label: 'first name'
            }) }}
            {{ form_row(registrationForm.lastName, {
                label: 'last name'
            }) }}
            {{ form_row(registrationForm.dateOfBirth, {
                label: 'Date of birth'
            }) }}
            {{ form_row(registrationForm.postalCode, {
                label: 'Postal code'
            }) }}
            {{ form_row(registrationForm.city, {
                label: 'City'
            }) }}
            {{ form_row(registrationForm.country, {
                label: 'Country'
            }) }}
            {{ form_row(registrationForm.phoneNumber, {
                label: 'Phone number'
            }) }}
        
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
