{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Book index{% endtrans %}
{% endblock %}

{% block body %}

	<div class="crud-container">
		<div class="headingAndBtn">
			<h1 class="mt-3 indentedHeading">{% trans %}Books{% endtrans %}</h1>
			{# button that activates a filter so that only overdue books are displayed in below table #}

			<div class="btn-container">

				<a href="{{ path('app_admin_book_index') }}" class="btn btn-outline-secondary me-1 {% if app.request.attributes.get('_route') == 'app_admin_book_index' %}active{% endif %}">{% trans %}All books{% endtrans %}</a>
				<a href="{{ path('app_admin_book_overdue') }}" class="btn btn-outline-secondary {% if app.request.attributes.get('_route') == 'app_admin_book_overdue' %}active{% endif %}">{% trans %}Overdue Books{% endtrans %}</a>

			</div>
			<a href="{{ path('app_admin_book_new') }}" class="btn btn-primary">{% trans %}Create new{% endtrans %}</a>

		</div>
		<div class="crud">

			<br>
			<table class="table">
				<thead>
					<tr>
						<th>{% trans %}Id{% endtrans %}</th>
						<th>{% trans %}Image{% endtrans %}</th>
						<th>{% trans %}Title{% endtrans %}</th>
						<th>{% trans %}Available{% endtrans %}</th>
						<th>{% trans %}Loan Information{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for book in books %}
						<tr {% if book.isOverdue %} class="table-danger" {% endif %}>
							<td>{{ book.id }}</td>

							<td>
								{% if book.imageName %}
									<img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="{{ book.title }}" class="crudImg">
								{% else %}
									<img src="{{ book.image }}" alt="{{ book.title }}" class="crudImg">
								{% endif %}
							</td>
							<td>{{ book.title }}</td>
							<td>{{ book.available ? 'Yes' : 'No' }}</td>
							<td>
								{% set loanStartDate = '' %}
								{% set loanEndDate = '' %}
								{% set loanExtensionDate = '' %}
								{% for loan in book.getLoans() %}
									{% if loan.getReturnDate() is null %}
										{% set loanStartDate = loan.getStartDate()|date('Y-m-d') %}
										{% if loan.getExtensionDate() is not null %}
											{% set loanEndDate = loan.getExtensionDate()|date('Y-m-d') %}
										{% else %}
											{% set loanEndDate = loan.getEndDate()|date('Y-m-d') %}
										{% endif %}

									{% endif %}
								{% endfor %}
								{% if loanStartDate and book.available == false %}
									<strong>{% trans %}Start :{% endtrans %}</strong>
									{{ loanStartDate }}<br>
									{% if loanEndDate %}
										<strong>{% trans %}End :{% endtrans %}</strong>
										{{ loanEndDate }}
									{% endif %}
									<br>

									<a href="{{ path('app_confirm_return', { 'bookId': book.id }) }}" class="btn btn-outline-success confirmBtn my-2" onclick="return confirm('Are you sure you want to confirm book return?');">

										{% trans %}Confirm return{% endtrans %}
									</a>


								{% else %}
									-
								{% endif %}
							</td>

							<td>

								<a href="{{ path('app_admin_book_show', {'id': book.id}) }}" class="btn btn-info btn-sm">{% trans %}show{% endtrans %}</a>
								<a href="{{ path('app_admin_book_edit', {'id': book.id}) }}" class="btn btn-primary btn-sm mx-2">{% trans %}edit{% endtrans %}</a>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">{% trans %}No records found{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

	</div>


{% endblock %}
