{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}

        <div class="crud-container">
            <div class="headingAndBtn">
                <h1 class="mt-3 indentedHeading">Books</h1>
                {# button that activates a filter so that only overdue books are displayed in below table #}
                <div class="btn-container">
                    
                    <a href="{{ path('app_admin_book_index') }}" class="btn btn-outline-secondary me-1 {% if app.request.attributes.get('_route') == 'app_admin_book_index' %}active{% endif %}">All books</a>
                    <a href="{{ path('app_admin_book_overdue') }}" class="btn btn-outline-secondary {% if app.request.attributes.get('_route') == 'app_admin_book_overdue' %}active{% endif %}">Overdue Books</a>

                </div>
                <a href="{{ path('app_admin_book_new') }}" class="btn btn-primary">Create new</a>
            </div>
            <div class="crud">
            
            <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Available</th>
                            <th>Loan Information</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr {% if book.isOverdue %}class="table-danger"{% endif %}>
                                <td>{{ book.id }}</td>
                                
                                <td>
                                    {% if book.imageName %}
                                        <img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="{{ book.title }}" class="crudImg">
                                    {% else %}
                                        <img src="{{ book.image }}" alt="{{ book.title }}" class="crudImg">
                                    {% endif %}
                                </td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.available ? 'Yes' : 'No' }}</td>
                                <td>
                                    {% set loanStartDate = '' %}
                                    {% set loanEndDate = '' %}
                                    {% set loanExtensionDate = '' %}
                                    {% for loan in book.getLoans() %}
                                        {% if loan.getReturnDate() is null %}
                                            {% set loanStartDate = loan.getStartDate()|date('Y-m-d') %}
                                            {% if loan.getExtensionDate() is not null %}
                                                {% set loanEndDate = loan.getExtensionDate()|date('Y-m-d') %}
                                            {% else %}
                                                {% set loanEndDate = loan.getEndDate()|date('Y-m-d') %}
                                            {% endif %}
                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% if loanStartDate and book.available == false %}
                                        <strong>Start :</strong> {{ loanStartDate }}<br>
                                        {% if loanEndDate %}
                                            <strong>End :</strong> {{ loanEndDate }}
                                        {% endif %}
                                        <br>
                                        <a href="{{ path('app_confirm_return', { 'bookId': book.id }) }}"
                                        class="btn btn-outline-success confirmBtn my-2"
                                        onclick="return confirm('Are you sure you want to confirm book return?');">
                                        Confirmer restitution
                                        </a>

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>

                                <td>
                                    <a href="{{ path('app_admin_book_show', {'id': book.id}) }}" class="btn btn-outline-secondary btn-sm">show</a>
                                    <a href="{{ path('app_admin_book_edit', {'id': book.id}) }}" class="btn btn-primary btn-sm">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            
        </div>


   
{% endblock %}
