{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Room{% endtrans %}!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		li {
			list-style: none;
			display: inline;
		}
	</style>

	<div class="container">
		<h1>{% trans %}There are{% endtrans %}
			{{ availableRooms|length }}
			{% trans %}rooms available{% endtrans %}
			!</h1>

		<table class="table">
			<thead>
				<tr>

					<th scope="col">{% trans %}Name{% endtrans %}</th>
					<th scope="col">{% trans %}Capacity{% endtrans %}</th>
					<th scope="col">{% trans %}Available{% endtrans %}</th>
					<th scope="col">{% trans %}Equipements{% endtrans %}</th>
					<th scope="col">{% trans %}To book{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for availableRooms in availableRooms %}
					<tr>
						<th scope="row">{{availableRooms.name}}</th>

						<td>{{availableRooms.capacity}}</td>
						{% if availableRooms.available == 1 %}
							<td>✅</td>
						{% else %}
							<td>❌</td>
						{% endif %}
						<td>
							<ul>
								{% for equipment in equipmentsByRoom[availableRooms.id] %}
									<li>{{ equipment.name}},
									</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<a href="{{ path('app_reservation', {id: availableRooms.id}) }}" class='btn btn-primary'>
								{% trans %}To book{% endtrans %}</a>
						</td>
					{% endfor %}
				</tbody>
			</tbody>
		</table>

	</div>
{% endblock %}
