{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}


<div class="details-container">
        
    <div class="bookImg-container">
    {% if book.imageName %}
        <img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="{{ book.title }}">
    {% else %}
        <img src="{{ book.image }}" alt="Book Image">
    {% endif %}
    </div>
    <div class="bookInfo-container">
        <h3 class="card-title">{{ book.title }}</h3>
        <p class="card-text">de {{ book.author }}</p>
        <p class="card-text"><strong>Date de publication</strong> : {{ book.yearPublished }}</p>
        <p class="card-text"><strong>État</strong> : {% if book.getBookCondition() is not null %}{{ book.getBookCondition().getName() }}{% else %}Unknown{% endif %}</p>

        <div class="star-rating">{{ book.rating }}
        
            {% set rating = book.rating|default(0) %} {# Default to 0 if rating is not set #}
            {% set fullStars = rating|round %} {# Round rating to nearest whole number #}
            {% set halfStar = rating > fullStars %} {# Check if there's a half star #}

            {% for i in 1..5 %}
                {% if i <= fullStars %}
                    <i class="fas fa-star"></i> {# Filled star icon #}
                {% elseif halfStar %}
                    <i class="fas fa-star-half-alt"></i> {# Half-filled star icon #}
                    {% set halfStar = false %} {# Only display one half star #}
                {% else %}
                    <i class="far fa-star"></i> {# Empty star icon #}
                {% endif %}
            {% endfor %}

        </div>
        <br>
        
        <div class="card-body">
            <p class="card-text">{{ book.description }}</p>
            {% if book.available == true %}
            <button type="button" class="btn btn-success d-flex justify-content-center m-1" data-bs-toggle="modal" data-bs-target="#myModal{{ book.id }}">
            Réserver
            </button>
            {% else %}
            <a href="#" class="btn btn-success d-flex justify-content-center m-1 disabled">Pas disponible</a>
            <p><em>Ce livre est prévu d'être disponible à réserver à partir de </em>: <strong>
            {% if currentLoan.extensionDate is null %}
            {# Later, consider adding twig/extensions allowing you to display the date in a more readable manner #}
            {{ currentLoan.endDate|date('d-m-Y') }}
            {% else %}
            {{ currentLoan.extensionDate|date('d-m-Y') }}
            </p>
            {% endif %}
            {% endif %}
            </strong>
        </div>
    </div>
        
</div>

{% include 'components/_loanModal.html.twig' %}

{% endblock %}

{% block javascripts %}
<script>
  document.addEventListener('load', () => {
    const myModal = new bootstrap.Modal(document.getElementById('myModal'));
    const myInput = document.getElementById('myInput');

    myModal.addEventListener('shown.bs.modal', () => {
      myInput.focus();
    });
  });
</script>
{% endblock %}