{% extends 'base.html.twig' %}

{% block title %}{% trans %}Room index{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">{% trans %}Room Index{% endtrans %}</h1>
        {% for flash_message in app.flashes('success') %}
			<div class="alert alert alert-success">
				{{ flash_message }}
			</div>
		{% endfor %}
        {% for flash_message in app.flashes('danger') %}
			<div class="alert alert alert-danger">
				{{ flash_message }}
			</div>
		{% endfor %}

        <div class="row mt-4">
            <div class="col-md-12">
                <a href="{{ path('app_admin_room_new') }}" class="btn btn-primary mb-3">{% trans %}Create New Room{% endtrans %}</a>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">{% trans %}Capacity{% endtrans %}</th>
                                <th scope="col">{% trans %}Available{% endtrans %}</th>
                                <th scope="col">{% trans %}Name{% endtrans %}</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room in rooms %}
                                <tr>
                                    <td>{{ room.id }}</td>
                                    <td>{{ room.capacity }}</td>
                                    <td>{{ room.available ? 'Yes' : 'No' }}</td>
                                    <td>{{ room.name }}</td>
                                    <td>
                                        <a href="{{ path('app_admin_room_show', {'id': room.id}) }}" class="btn btn-info btn-sm">{% trans %}Show{% endtrans %}</a>
                                        <a href="{{ path('app_admin_room_edit', {'id': room.id}) }}" class="btn btn-primary btn-sm">{% trans %}Edit{% endtrans %}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">{% trans %}No records found{% endtrans %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
