{% extends 'base.html.twig' %}

{% block title %}Room
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="mt-4">Room Details</h1>

		<div class="row mt-4">
			<div class="col-md-10">
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Id</th>
							<td>{{ room.id }}</td>
						</tr>
						<tr>
							<th scope="row">Capacity</th>
							<td>{{ room.capacity }}</td>
						</tr>
						<tr>
							<th scope="row">Available</th>
							<td>{{ room.available ? 'Yes' : 'No' }}</td>
						</tr>
						<tr>
							<th scope="row">Name</th>
							<td>{{ room.name }}</td>
						</tr>
					</tbody>
				</table>

				<a href="{{ path('app_admin_room_index') }}" class="btn btn-primary">Back to list</a>
				<a href="{{ path('app_admin_room_edit', {'id': room.id}) }}" class="btn btn-secondary">Edit</a>
				{{ include('admin_room/_delete_form.html.twig') }}
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-10">
				<h2>Reservations</h2>
				<div id="calendar"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		/* Ajoutez vos styles personnalisés ici */
		#calendar {
			margin-top: 20px;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script>
		async function initCalendar() {
return new Promise((resolve, reject) => {
document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'timeGridWeek',
headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'dayGridMonth,timeGridDay'
},
locale: 'fr',
timeZone: 'Europe/Paris',
firstDay: 1,
allDaySlot: false,
slotMinTime: "07:00",
slotMaxTime: "20:00",
expandRows: true,
businessHours: {
daysOfWeek: [
1,
2,
3,
4,
5
],
startTime: '8:00',
endTime: '19:00'
},
events: {{ reservationEvents|json_encode|raw }}
});

calendar.render();
resolve();
});
});
}

async function initializePage() {
await initCalendar();

}initializePage();
	</script>
{% endblock %}
