{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>{% trans %}Password{% endtrans %}</th>
                <th>{% trans %}FirstName{% endtrans %}</th>
                <th>{% trans %}LastName{% endtrans %}</th>
                <th>{% trans %}DateOfBirth{% endtrans %}</th>
                <th>{% trans %}City{% endtrans %}</th>
                <th>{% trans %}PostalCode{% endtrans %}</th>
                <th>{% trans %}PhoneNumber{% endtrans %}</th>
                <th>{% trans %}Country{% endtrans %}</th>
                <th>{% trans %}Street{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>{{ utilisateur.firstName }}</td>
                <td>{{ utilisateur.lastName }}</td>
                <td>{{ utilisateur.dateOfBirth ? utilisateur.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.city }}</td>
                <td>{{ utilisateur.postalCode }}</td>
                <td>{{ utilisateur.phoneNumber }}</td>
                <td>{{ utilisateur.country }}</td>
                <td>{{ utilisateur.street }}</td>
                <td>
                    <a href="{{ path('app_admin_utilisateur_show', {'id': utilisateur.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_admin_utilisateur_edit', {'id': utilisateur.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_utilisateur_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
